<div id="fileUploadForm">
  <form action="/upload" enctype="multipart/form-data" method="post">
    <p><input type="file" name="upl">
      <input type="submit" value="Отправить">
    </p>
  </form>
</div>


<div id="compare">

</div>
