<h1>Plotters statistics_home</h1>

<div class="formContainer">
  <form action="/results" method="POST">
    <p>
      <input type="datetime-local" placeholder="start" name="usestartTime" value="2016-09-27T00:00:00.000">
      <input type="datetime-local" placeholder="finish" name="usestopTime" value="2016-09-27T00:00:00.000">
    </p>
    <button type="submit">Submit</button>
  </form>
</div>
