<h1>Input data</h1>
<div class="formContainer">
  <form action="/quotes" method="POST">

    <p>
      <input type="number" placeholder="id" name="id">
      <input type="number" placeholder="Plotter" name="plotter" min="1" max="5">
    </p>

    <p>
      <input type="datetime-local" placeholder="start" name="startTime">
      <input type="datetime-local" placeholder="finish" name="stopTime">
    </p>

    <p>
      <input type="number" placeholder="Passes" name="passes">
      <input type="number" placeholder="Meters" name="meters">
    </p>

    <button type="submit">Submit</button>

  </form>
</div>
