<h2 style="color: #2e6c80;">Статистика одного дня</h2>
  <form action="/onedayresults" method="POST">
    <p>
      <input type="date" placeholder="start" name="useDay">
    </p>
    <button type="submit">Submit</button>
  </form>
</div>

<h3 style="color: #2e6c80;">Погонные метры:</h3>
<p>
  <ol>
    <li>Плоттер 1:  {{sum1}}</li>
    <li>Плоттер 2:  {{sum2}}</li>
    <li>Всего:      {{sumAll}}</li>
  </ol>
</p>
