#container{

}

.group:before, .group:after {
    content:"";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    background: #eaeaed;
    border-radius: 6px;
    clear: both;
    *zoom: 1;
    max-width: 860px;
    margin: auto;
}

#header{
  max-width: 860px;
  margin: auto;
}

#headerText{
  color: #2e6c80;
  text-align: center;
}

#form{
  float: left;
  margin: 1.5%;
}

#results{
  float: left;
  margin: 1.5%;
}

#chart{
  float: left;
  margin: 1.5%;
}

#footer{
  max-width: 860px;
  margin: auto;
}

#footerText{
  color: #2e6c80;
  text-align: left;
}
